[Desktop Entry]
Type=Application
Name=AWG Tunnel
GenericName=Tunnel Client
Comment=Obfuscated WireGuard tunnels without root
Exec=awg-tunnel
Icon=io.github.blackmesa_canteen.AwgTunnel
Terminal=false
Categories=Network;Security;
Keywords=VPN;WireGuard;AmneziaWG;AWG;SOCKS5;Proxy;Tunnel;Obfuscation;DPI;
StartupNotify=true
